<h1>Registered guests</h1>

<ul class="list-unstyled">
<%= for ticket <- @tickets do %>
  <li><%= ticket.user_name %></li>
<% end %>
</ul>

<br>

<p>
  <%= link(
    "Clear guests list and start over again with 5 tickets available", 
    to: Routes.guest_path(@conn, :reset_guests),
    method: :delete,
    data: [confirm: "This will delete **all** orders and tickets from DB. OK?"],
    class: "btn btn-primary"
  ) %>
</p>
