<div class="all-bold">

    <p>Nice to meet you <%= @name %>!</p>

    <p>
    We reserved your ticket for 5 minutes
    <br>
    Please complete the purchase using a test credit card
    </p>

</div>

<%= button(
    "Pay with Stripe Checkout",
     to: Routes.order_path(@conn, :update, @token),
     method: :put,
     class: "btn btn-primary"
) %>
