<div class="all-bold">

    <p>Nice to meet you <%= @ticket.user_name %>!</p>

    <p>
    We reserved your ticket for 5 minutes
    <br>
    Please complete the purchase using a test credit card
    </p>

</div>

<%= button(
    "TODO: integrate Stripe here",
     to: Routes.order_path(@conn, :update, @ticket.id),
     method: :put,
     class: "btn btn-primary"
) %>
